.box-1{
    height: 270px;
    width: 750px;
}

.box-2{
    height: 150px;
    width: 300px;
    padding: 5px 20px;
}

.box-1, .box-2{
    background-color: rgb(192, 191, 191);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
}

.checkout-wrapper{
    margin: 10px 0px 20px;
}

.checkout-wrapper-1{
    padding: 5px 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.mug-img{
    width: 150px;
    height: 120px;
    border-radius: 10px;
    padding: 0px 2px;
    margin: 20px 0px 20px 35px;
}

.checkout-wrapper-2{
    margin-left: 0px;
}

.checkout-wrapper-2-1{
    margin: 45px 0px 5px 20px;
    font-size: 120%;
}

.checkout-wrapper-2-2{
    margin:37px 0px 5px 20px;
    background-color: white;
    width: 68px;
    text-align: center;
    border: 1px solid rgb(80, 79, 79);
}

.checkout-wrapper-2-2-button{
    border: none;
    width: 20px;
    text-align: center;
    background-color: white;
}

.checkout-wrapper-2-2-text{
    border-left: 1px solid rgb(80, 79, 79);
    border-right: 1px solid rgb(80, 79, 79);
    padding: 0px 3px;
}

.box-2-button{
    background-color: #f76b6a;
    border: none;
    height: 30px;
    border-radius: 5px;
    width: 260px;
    font-weight: bold;
    color: white;
    margin: 40px 0px 10px;
}