*{
    padding: 0px;
    margin: 0px;
}

.header{
    height: 50px;
    background-color: #f76b6a;
}

.header-text{
    font-weight: 600;
}

.icon-sm{
    float: right;
}

.icon-sm-design{
    width: 30px; 
    height: 30px; 
    border-radius: 15px; 
    text-align: center; 
    margin: 10px 5px 0px;
}

.navbar{
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-header{
    background-color: blue;
}

.jumbotron{
    height: 100px;
    padding: 10px 0px;
    line-height: 80px;
}

.menu-icon-button{
    border: none;
}

.logo{
    width: 80px;
    height: 50px;
    margin-left: 30px;
}

input{
    border-radius: 15px;
    height: 30px;
    padding-left: 10px;
    border: none;
}

nav ul{
    list-style: none;
    background-color: rgb(228, 227, 227);
    height: 370px;
    width: 240px;
}

nav ul li{
    display: block;
}

nav ul li a{
    display: block;
    width: 100%;
    color: black;
    font-size: 80%;
    padding: 15px 10px;
    border-bottom: 1px solid grey;
    text-decoration: none;
}

nav ul li a:hover{
    border-left: 3px solid #f76b6a;
    text-decoration: none;
    color: black;
}

.menu-button{
    padding: 3px 7px;
    width: 120px;
    border:none;
    border-left: 1px solid black;
    background-color: rgb(165, 162, 162);
}

#menu-wrapper{
    display: none;
}